In [1]:
import pandas as pd

In [10]:
data = {
    "Fulano": [3,2,1,4,6],
    "ciclano": [4,5,6,8,1]
}

tabela = pd.DataFrame(data)
tabela

   Fulano  ciclano
0       3        4
1       2        5
2       1        6
3       4        8
4       6        1